{% extends "layout.html.twig" %}

{% block content %}
<div style="float: right; margin-top: 20px;">
    <a class="btn btn-success" href="/names/{{name}}/rate/star">Star</a>
    <a class="btn btn-warning" href="/names/{{name}}/rate/discard">Discard</a>
</div>
<h2>Name: {{ name }} <small>{{ rating }}</small></h2>


<ul>
{% for checker, status in statuses %}
    <li>{{ checker}}: {{status}}</li>
{% endfor %}
</ul>
<pre>
    {{ whois}}
</pre>
{% endblock %}
